{
  "openapi": "3.1.0",
  "info": {
    "title": "Ello.AI API",
    "description": "API for managing agents and calls in Ello.AI",
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://api-in.getello.ai/"
    }
  ],
  "paths": {
		"/api/agents/{agent_id}": {
			"get": {
				"operationId": "getAgentById",
				"tags": ["Agents"],
				"summary": "Get Agent",
				"description": "Retrieves details of a specific agent by its ID",
				"parameters": [
				{
					"name": "agent_id",
					"in": "path",
					"required": true,
					"schema": { "type": "string" }
				}
				],
				"responses": {
				"200": {
					"description": "Agents retrieved successfully",
					"content": {
						"application/json": {
						"schema": {
							"type": "object",
							"properties": {
							"status": { "type": "integer", "example": 200 },
							"message": { "type": "string", "example": "Agents retrieved successfully" },
							"data": {
								"type": "array",
								"items": {
								"type": "object"
								},
								"example": [
								{
									"_id": "69cf92ec643b415327cab0ae",
									"workspaceId": "6970c2f3948cfbce1932d99d",
									"userId": "6970c2f3948cfbce1932d99c",
									"name": "My Hybrid Agent2",
									"type": "hybrid",
									"category": ["general"],
									"description": "AI assistant for voice calls",
									"image": "1",
									"features": [],
									"popularity": 0,
									"voiceConfig": {
									"provider": "elevenlabs",
									"model": "eleven_flash_v2_5",
									"voiceId": "pwMBn0SsmN1220Aorv15",
									"language": "en-IN",
									"patienceLevel": 1,
									"speed": 1,
									"pitch": 1,
									"latency": 0.5,
									"stability": 0.5,
									"styleExaggeration": 0,
									"similarity": 0.8,
									"numberOfWords": 0,
									"voiceSeconds": 0.2,
									"backOfSeconds": 0.1
									},
									"aiModel": {
									"provider": "openai",
									"model": "gpt-4o",
									"temperature": 0.7,
									"maxTokens": 200
									},
									"llmConfig": {
									"provider": "openai_responses",
									"model": "gpt-4o",
									"temperature": 0.7,
									"maxTokens": 200
									},
									"sttConfig": {
									"utterance_end_ms": 1500,
									"on_punctuation_second": 0,
									"vadEnabled": false,
									"ncEnabled": false,
									"keyterms": [],
									"waitseconds": 1.2
									},
									"voicemailConfig": {
									"isEnabled": false
									},
									"backChannelConfig": {
									"isEnabled": false,
									"backchannelWords": []
									},
									"timeoutConfig": {
									"silenceTimeout": 30,
									"maximumDuration": 600
									},
									"callConfig": {
									"timeZone": "UTC",
									"maxDuration": 600,
									"voicemailDetection": {
										"enabled": true,
										"type": "ml-based"
									},
									"recordingEnabled": true,
									"transcriptionEnabled": true,
									"speakerBoost": false,
									"idleReminders": [false, 0.75],
									"limitCallDuration": [false, 20],
									"backGroundNoiseThreshold": 0.75,
									"backGroundNoiseTimeout": 10,
									"backGroundNoiseTimeoutThreshold": 0.75,
									"backGroundNoiseTimeoutInterval": 10
									},
									"fillerWords": false,
									"DND": true,
									"status": true,
									"customVocabulary": [],
									"timezone": "Asia/Kolkata",
									"countryName": "India",
									"greeting": "Hi! How can I assist you today?",
									"prompt": "You are a helpful AI assistant focused on providing accurate and friendly responses.",
									"knowledgeBases": [],
									"actions": [],
									"deployment": {
									"status": "draft",
									"version": 1,
									"deployedAt": "2026-04-03T10:14:04.349000",
									"lastUpdated": "2026-04-03T10:14:04.349000"
									},
									"stats": {
									"totalCalls": 0,
									"successRate": 1,
									"avgCallDuration": 0
									},
									"recommendedActions": [],
									"widget": true,
									"createdAt": "2026-04-03T10:14:04.349000",
									"updatedAt": "2026-04-03T10:14:04.349000"
								}
								]
							}
							}
						}
						}
					}
				},
				"400": {
					"description": "Bad Request / Validation Error",
					"content": {
					"application/json": {
						"schema": {
						"type": "object",
						"properties": {
							"status": { "type": "integer", "example": 400 },
							"message": {
							"type": "string",
							"example": "agent_id is required"
							}
						}
						}
					}
					}
				},

				"401": {
					"description": "Unauthorized",
					"content": {
					"application/json": {
						"schema": {
						"type": "object",
						"properties": {
							"status": { "type": "integer", "example": 401 },
							"message": {
							"type": "string",
							"example": "Unauthorized access"
							}
						}
						}
					}
					}
				},

				"403": {
					"description": "Forbidden",
					"content": {
					"application/json": {
						"schema": {
						"type": "object",
						"properties": {
							"status": { "type": "integer", "example": 403 },
							"message": {
							"type": "string",
							"example": "Access denied. Scope does not match"
							}
						}
						}
					}
					}
				},

				"404": {
					"description": "Agent not found",
					"content": {
					"application/json": {
						"schema": {
						"type": "object",
						"properties": {
							"status": { "type": "integer", "example": 404 },
							"message": {
							"type": "string",
							"example": "agent not found"
							}
						}
						}
					}
					}
				},
				"500": {
					"description": "Internal Server Error",
					"content": {
					"application/json": {
						"schema": {
						"type": "object",
						"properties": {
							"status": { "type": "integer", "example": 500 },
							"message": {
							"type": "string",
							"example": "Something went wrong. Please try again later."
							}
						}
						}
					}
					}
				}
				},
				"security": [
				{ "apiKey": [] },
				{ "bearerAuth": [] }
				]
			},
			"put": {
				"operationId": "updateAgent",
				"tags": ["Agents"],
				"summary": "Update Agent",
				"description": "Updates an existing agent by ID.",
				"parameters": [
				{
					"name": "agent_id",
					"in": "path",
					"required": true,
					"schema": { "type": "string" }
				}
				],
				"requestBody": {
				"required": true,
				"content": {
					"application/json": {
						"schema": {
						"type": "object",
						"minProperties": 1,
						"required": ["type"],
						"example": {},
						"properties": {
							"workspaceId": { "type": "string", "example": "6970c2f3948cfbce1932d99d" },

							"name": { "type": "string", "example": "Updated Agent" },
							"type": {
							"type": "string",
							"enum": ["inbound", "outbound", "chat", "hybrid"],
							"example": "inbound"
							},
							"category": { "type": "string", "example": "general" },
							"description": { "type": "string", "example": "AI assistant for voice calls" },
							"image": { "type": "string", "example": "1" },

							"features": {
							"type": "array",
							"items": { "type": "string" },
							"example": []
							},
							"popularity": { "type": "integer", "example": 0 },

							"voiceConfig": {
							"type": "object",
							"properties": {
								"provider": { "type": "string", "example": "elevenlabs" },
								"voiceId": { "type": "string", "example": "pwMBn0SsmN1220Aorv15" },
								"language": { "type": "string", "example": "en-IN" },
								"patienceLevel": { "type": "integer", "example": 1 },
								"speed": { "type": "number", "example": 1 },
								"pitch": { "type": "number", "example": 1 },
								"latency": { "type": "number", "example": 0.5 },
								"stability": { "type": "number", "example": 0.5 },
								"styleExaggeration": { "type": "number", "example": 0 },
								"similarity": { "type": "number", "example": 0.8 },
								"voicePromptType": { "type": "string", "nullable": true, "example": null },
								"voicePrompt": { "type": "string", "nullable": true, "example": null },
								"numberOfWords": { "type": "integer", "example": 0 },
								"voiceSeconds": { "type": "number", "example": 0.2 },
								"backOfSeconds": { "type": "number", "example": 0.1 }
							}
							},

							"aiModel": {
							"type": "object",
							"properties": {
								"provider": { "type": "string", "example": "openai" },
								"model": { "type": "string", "example": "gpt-4o" },
								"temperature": { "type": "number", "example": 0.7 },
								"maxTokens": { "type": "integer", "example": 200 }
							}
							},

							"llmConfig": {
							"type": "object",
							"properties": {
								"provider": { "type": "string", "example": "openai_responses" },
								"model": { "type": "string", "example": "gpt-4o" },
								"temperature": { "type": "number", "minimum": 0, "maximum": 2, "example": 0.7 },
								"maxTokens": { "type": "integer", "minimum": 1, "example": 200 }
							}
							},

							"sttConfig": {
							"type": "object",
							"properties": {
								"provider": { "type": "string", "example": "deepgram" },
								"model": { "type": "string", "example": "nova-2" },
								"utterance_end_ms": { "type": "integer", "minimum": 0, "example": 1500 },
								"on_punctuation_second": { "type": "number", "minimum": 0, "example": 0 },
								"vadEnabled": { "type": "boolean", "example": false },
								"ncEnabled": { "type": "boolean", "example": false },
								"vad_detection": { "type": "boolean", "example": false },
								"keywords": { "type": "array", "items": { "type": "string" }, "example": [] },
								"keyterms": { "type": "array", "items": { "type": "string" }, "example": [] },
								"waitseconds": { "type": "number", "example": 1.2 }
							}
							},

							"voicemailConfig": {
							"type": "object",
							"properties": {
								"isEnabled": { "type": "boolean", "example": false },
								"message": { "type": "string", "nullable": true, "example": null }
							}
							},

							"backChannelConfig": {
							"type": "object",
							"properties": {
								"isEnabled": { "type": "boolean", "example": false },
								"frequency": { "type": "number", "example": 0.5 },
								"backchannelWords": { "type": "array", "items": { "type": "string" }, "example": [] }
							}
							},

							"timeoutConfig": {
							"type": "object",
							"properties": {
								"silenceTimeout": { "type": "number", "example": 30 },
								"maximumDuration": { "type": "number", "example": 600 }
							}
							},

							"callConfig": {
							"type": "object",
							"properties": {
								"timeZone": { "type": "string", "example": "UTC" },
								"maxDuration": { "type": "integer", "example": 600 },
								"voicemailDetection": {
								"type": "object",
								"properties": {
									"enabled": { "type": "boolean", "example": true },
									"type": { "type": "string", "example": "ml-based" }
								}
								},
								"recordingEnabled": { "type": "boolean", "example": true },
								"transcriptionEnabled": { "type": "boolean", "example": true },
								"speakerBoost": { "type": "boolean", "example": false },

								"idleReminders": {
								"type": "array",
								"minItems": 2,
								"maxItems": 2,
								"items": { "oneOf": [{ "type": "boolean" }, { "type": "number" }] },
								"example": [false, 0.75]
								},
								"limitCallDuration": {
								"type": "array",
								"minItems": 2,
								"maxItems": 2,
								"items": { "oneOf": [{ "type": "boolean" }, { "type": "number" }] },
								"example": [false, 20]
								},

								"backGroundNoiseEnv": { "type": "string", "nullable": true, "example": null },
								"backGroundNoiseLevel": { "type": "string", "nullable": true, "example": null },
								"backGroundNoiseThreshold": { "type": "number", "example": 0.75 },
								"backGroundNoiseTimeout": { "type": "integer", "example": 10 },
								"backGroundNoiseTimeoutThreshold": { "type": "number", "example": 0.75 },
								"backGroundNoiseTimeoutInterval": { "type": "integer", "example": 10 }
							}
							},

							"fillerWords": { "type": "boolean", "example": false },
							"customVocabulary": { "type": "array", "items": { "type": "string" }, "example": [] },

							"timezone": { "type": "string", "example": "Asia/Kolkata" },
							"greeting": { "type": "string", "example": "Hi! How can I assist you today?" },
							"prompt": { "type": "string", "example": "You are a helpful AI assistant focused on providing accurate and friendly responses." },

							"knowledgeBases": { "type": "array", "items": { "type": "string" }, "example": [] },
							"actions": { "type": "array", "items": { "type": "string" }, "example": [] },

							"deployment": {
							"type": "object",
							"properties": {
								"status": {
								"type": "string",
								"enum": ["draft", "deploying", "active", "failed"],
								"example": "draft"
								},
								"version": { "type": "integer", "example": 1 },
								"deployedAt": { "type": "string", "format": "date-time", "nullable": true, "example": "2026-04-03T10:14:04.349000Z" },
								"lastUpdated": { "type": "string", "format": "date-time", "example": "2026-04-03T10:14:04.349000Z" },
								"error": { "type": "string", "nullable": true, "example": null }
							}
							},

							"stats": {
							"type": "object",
							"properties": {
								"totalCalls": { "type": "integer", "example": 0 },
								"successRate": { "type": "number", "example": 1 },
								"avgCallDuration": { "type": "number", "example": 0 },
								"lastCallAt": { "type": "string", "format": "date-time", "nullable": true, "example": null }
							}
							},

							"templateCategory": { "type": "string", "nullable": true, "example": null },
							"industry": { "type": "string", "nullable": true, "example": null },
							"recommendedActions": { "type": "array", "items": { "type": "string" }, "example": [] },

							"localisedPrompt": { "type": "string", "example": "Localized prompt text" },

							"multiLingual": { "type": "boolean", "example": false },
							"primaryLanguage": { "type": "string", "example": "en" },
							"secondaryLanguages": { "type": "array", "items": { "type": "string" }, "example": ["hi"] },

							"dynamic_variables": { "type": "array", "items": { "type": "string" }, "example": [] },

							"status": { "type": "boolean", "example": true }
						}
						}
					}
				}
				},
				"responses": {
				"200": {
					"description": "Agent updated successfully",
					"content": {
						"application/json": {
						"schema": {
							"type": "object",
							"properties": {
							"status": { "type": "integer", "example": 200 },
							"message": { "type": "string", "example": "Assistant (simple) updated successfully" },
							"data": {
								"type": "object",
								"example": {
								"_id": "69cf92ec643b415327cab0ae",
								"workspaceId": "6970c2f3948cfbce1932d99d",
								"userId": "6970c2f3948cfbce1932d99c",
								"name": "testing Agent",
								"type": "inbound",
								"category": ["general"],
								"description": "AI assistant for voice calls",
								"voiceConfig": {
									"provider": "elevenlabs",
									"model": "eleven_flash_v2_5"
								},
								"aiModel": {
									"provider": "openai",
									"model": "gpt-4o"
								},
								"llmConfig": {
									"provider": "openai_responses",
									"model": "gpt-4o"
								},
								"status": true,
								"createdAt": "2026-04-03T10:14:04.349000",
								"updatedAt": "2026-04-03T10:32:17.062000"
								}
							}
							}
						}
						}
					}
				},
				"400": {
					"description": "Bad Request",
					"content": {
					"application/json": {
						"schema": {
						"type": "object",
						"properties": {
							"status": { "type": "integer", "example": 400 },
							"message": { "type": "string" ,             "example": "Invalid request. Please check your input." }
						}
						}
					}
					}
				},
				"401": {
					"description": "Unauthorized",
					"content": {
					"application/json": {
						"schema": {
						"type": "object",
						"properties": {
							"status": { "type": "integer", "example": 401 },
							"message": { "type": "string" , "example": "Unauthorized access. Please provide valid credentials."}
						}
						}
					}
					}
				},
				"404": {
					"description": "Not Found",
					"content": {
					"application/json": {
						"schema": {
						"type": "object",
						"properties": {
							"status": { "type": "integer", "example": 404 },
							"message": { "type": "string" , "example": "Resource not found." }
						}
						}
					}
					}
				},
				"500": {
					"description": "Internal Server Error",
					"content": {
					"application/json": {
						"schema": {
						"type": "object",
						"properties": {
							"status": { "type": "integer", "example": 500 },
							"message": { "type": "string" ,  "example": "Something went wrong. Please try again later." }
						}
						}
					}
					}
				}
				},
				"security": [
				{ "apiKey": [] },
				{ "bearerAuth": [] }
				]
			},
			"delete": {
				"operationId": "deleteAgent",
				"tags": ["Agents"],
				"summary": "Delete Agent",
				"description": "Deletes an agent by ID",
				"parameters": [
				{
					"name": "agent_id",
					"in": "path",
					"required": true,
					"schema": { "type": "string" }
				}
				],
				"responses": {
				"200": {
					"description": "Agent deleted successfully",
					"content": {
					"application/json": {
						"schema": {
						"type": "object",
						"properties": {
							"status": { "type": "integer", "example": 200 },
							"message": { "type": "string", "example": "Agent deleted successfully" }
						}
						}
					}
					}
				},
				"400": {
					"description": "Bad Request",
					"content": {
					"application/json": {
						"schema": {
						"type": "object",
						"properties": {
							"status": { "type": "integer", "example": 400 },
							"message": { "type": "string" , "example": "Invalid request. Please check." }
						}
						}
					}
					}
				},
				"401": {
					"description": "Unauthorized",
					"content": {
					"application/json": {
						"schema": {
						"type": "object",
						"properties": {
							"status": { "type": "integer", "example": 401 },
							"message": { "type": "string" , "example": "Unauthorized access. Please provide valid credentials." }
						}
						}
					}
					}
				},
				"404": {
					"description": "Not Found",
					"content": {
					"application/json": {
						"schema": {
						"type": "object",
						"properties": {
							"status": { "type": "integer", "example": 404 },
							"message": { "type": "string" , "example": "Resource not found." }
						}
						}
					}
					}
				},
				"500": {
					"description": "Internal Server Error",
					"content": {
					"application/json": {
						"schema": {
						"type": "object",
						"properties": {
							"status": { "type": "integer", "example": 500 },
							"message": { "type": "string" ,  "example": "Something went wrong. Please try again later." }
						}
						}
					}
					}
				}
				},
				"security": [
				{ "apiKey": [] },
				{ "bearerAuth": [] }
				]
			}
		},
		"/api/agents": {
			"get": {
				"operationId": "listAgents",
				"tags": ["Agents"],
				"summary": "List Agents",
				"description": "Retrieves a paginated list of agents (supports filtering and sorting).",
				"parameters": [
				{
					"name": "workspace_id",
					"in": "query",
					"required": false,
					"schema": { "type": "string", "example": "6970c2f3948cfbce1932d99d" }
				},
				{
					"name": "page",
					"in": "query",
					"required": false,
					"schema": { "type": "integer", "minimum": 1, "example": 1 }
				},
				{
					"name": "limit",
					"in": "query",
					"required": false,
					"schema": { "type": "integer", "minimum": 1, "maximum": 100, "example": 10 }
				},
				{
					"name": "category",
					"in": "query",
					"required": false,
					"schema": { "type": "string", "example": "general" }
				},
				{
					"name": "search",
					"in": "query",
					"required": false,
					"schema": { "type": "string", "example": "sales" }
				},
				{
					"name": "sort_field",
					"in": "query",
					"required": false,
					"schema": {
					"type": "string",
					"enum": ["name", "type", "status", "createdAt", "updatedAt"],
					"example": "updatedAt"
					}
				},
				{
					"name": "sort_order",
					"in": "query",
					"required": false,
					"schema": { "type": "string", "enum": ["asc", "desc"], "example": "desc" }
				},
				{
					"name": "start_date",
					"in": "query",
					"required": false,
					"schema": { "type": "string", "format": "date-time", "example": "2026-04-01T00:00:00.000Z" }
				},
				{
					"name": "end_date",
					"in": "query",
					"required": false,
					"schema": { "type": "string", "format": "date-time", "example": "2026-04-03T23:59:59.999Z" }
				},
				{
					"name": "filters",
					"in": "query",
					"required": false,
					"schema": {
					"oneOf": [
						{
						"type": "object",
						"properties": {
							"status": { "type": "boolean", "example": true },
							"type": {
							"type": "string",
							"enum": ["inbound", "outbound", "chat", "hybrid"],
							"example": "hybrid"
							}
						}
						},
						{
						"type": "string",
						"description": "JSON stringified filters object",
						"example": "{\"status\":true,\"type\":\"hybrid\"}"
						}
					]
					}
				}
				],
				"responses": {
				"200": {
					"description": "Agents retrieved successfully",
					"content": {
					"application/json": {
						"schema": {
						"type": "object",
						"properties": {
							"status": { "type": "integer", "example": 200 },
							"message": { "type": "string", "example": "Assistants retrieved successfully" },
							"data": {
							"type": "array",
							"items": {
								"type": "object",
								"properties": {
								"id": { "type": "string", "example": "698054b94168f285f5d3467b" },
								"name": { "type": "string", "example": "My Hybrid Agent" },
								"type": { "type": "string", "example": "hybrid" },
								"updatedAt": { "type": "string", "format": "date-time", "example": "2026-03-19T08:12:33.503000Z" },
								"voiceEngine": { "type": "string", "example": "sarvam" },
								"phoneNumber": { "type": ["string", "null"], "example": "+919247519114" },
								"status": { "type": "boolean", "example": true }
								}
							}
							},
							"pagination": {
							"type": "object",
							"properties": {
								"page": { "type": "integer", "example": 1 },
								"limit": { "type": "integer", "example": 10 },
								"total": { "type": "integer", "example": 3 },
								"totalPages": { "type": "integer", "example": 1 },
								"hasNextPage": { "type": "boolean", "example": false },
								"hasPrevPage": { "type": "boolean", "example": false }
							}
							}
						}
						}
					}
					}
				},
				"400": {
					"description": "Bad Request / Validation Error",
					"content": {
					"application/json": {
						"schema": {
						"type": "object",
						"properties": {
							"status": { "type": "integer", "example": 400 },
							"message": { "type": "string", "example": "Validation Error" },
							"errors": {
							"type": "array",
							"items": {
								"type": "object",
								"properties": {
								"field": { "type": "string", "example": "query.limit" },
								"message": { "type": "string", "example": "\"limit\" must be less than or equal to 100" }
								}
							}
							}
						}
						}
					}
					}
				},
				"401": {
					"description": "Unauthorized",
					"content": {
					"application/json": {
						"schema": {
						"type": "object",
						"properties": {
							"status": { "type": "integer", "example": 401 },
							"message": { "type": "string", "example": "Unauthorized access" }
						}
						}
					}
					}
				},
				"403": {
					"description": "Forbidden",
					"content": {
					"application/json": {
						"schema": {
						"type": "object",
						"properties": {
							"status": { "type": "integer", "example": 403 },
							"message": { "type": "string", "example": "This route requires a user token without scope" }
						}
						}
					}
					}
				},
				"500": {
					"description": "Internal Server Error",
					"content": {
					"application/json": {
						"schema": {
						"type": "object",
						"properties": {
							"status": { "type": "integer", "example": 500 },
							"message": { "type": "string", "example": "Error while fetching assistants" },
							"error": {
							"type": "object",
							"properties": {
								"details": { "type": "string", "example": "Some internal error message" }
							}
							}
						}
						}
					}
					}
				}
				},
				"security": [
				{ "apiKey": [] },
				{ "bearerAuth": [] }
				]
			},

			"post": {
				"operationId": "createAgent",
				"tags": ["Agents"],
				"summary": "Create Agent",
				"description": "Creates a new agent.",
				"requestBody": {
				"required": true,
				"content": {
					"application/json": {
					"schema": {
						"type": "object",
						"required": ["type"],
						"example": {},
						"properties": {
						"type": {
							"type": "string",
							"enum": ["inbound", "outbound", "chat", "hybrid"],
							"example": "hybrid"
						},
						"workspaceId": { "type": "string", "example": "6970c2f3948cfbce1932d99d" },
						"templateId": { "type": "string", "example": "69cf92ec643b415327cab0ae" },
						"timezone": { "type": "string", "example": "Asia/Kolkata" },
						"dynamic_variables": {
							"type": "array",
							"items": { "type": "string" },
							"example": ["customer_name", "order_id"]
						},
						"metaData": {
							"type": "object",
							"properties": {
							"type": { "type": "number", "example": 1 },
							"placement": { "type": "number", "example": 2 },
							"varient": { "type": "number", "example": 1 },
							"colorPalette": {
								"type": "object",
								"properties": {
								"widgetBackground": { "type": "string", "example": "#FFFFFF" },
								"widgetText": { "type": "string", "example": "#000000" }
								}
							}
							}
						}
						}
					}
					}
				}
				},
				"responses": {
				"200": {
					"description": "Agent created successfully",
					"content": {
					"application/json": {
						"schema": {
						"type": "object",
						"properties": {
							"status": { "type": "integer", "example": 200 },
							"message": { "type": "string", "example": "agent created successfully" },
							"data": {
							"type": "object",
							"example": {
								"_id": "69cf98f0643b415327cab0af",
								"workspaceId": "6970c2f3948cfbce1932d99d",
								"userId": "6970c2f3948cfbce1932d99c",
								"name": "My Hybrid Agent",
								"type": "hybrid"
							}
							}
						}
						}
					}
					}
				},
				"400": {
					"description": "Bad Request / Validation Error",
					"content": {
					"application/json": {
						"schema": {
						"type": "object",
						"properties": {
							"status": { "type": "integer", "example": 400 },
							"message": { "type": "string", "example": "Validation Error" },
							"errors": {
							"type": "array",
							"items": {
								"type": "object",
								"properties": {
								"field": { "type": "string", "example": "body.type" },
								"message": { "type": "string", "example": "\"type\" is required" }
								}
							}
							}
						}
						}
					}
					}
				},
				"401": {
					"description": "Unauthorized",
					"content": {
					"application/json": {
						"schema": {
						"type": "object",
						"properties": {
							"status": { "type": "integer", "example": 401 },
							"message": { "type": "string", "example": "Unauthorized access" }
						}
						}
					}
					}
				},
				"403": {
					"description": "Forbidden",
					"content": {
					"application/json": {
						"schema": {
						"type": "object",
						"properties": {
							"status": { "type": "integer", "example": 403 },
							"message": {
							"type": "string",
							"examples": [
								"No active subscription found",
								"Agent creation limit exceeded"
							]
							}
						}
						}
					}
					}
				},
				"404": {
					"description": "Not Found",
					"content": {
					"application/json": {
						"schema": {
						"type": "object",
						"properties": {
							"status": { "type": "integer", "example": 404 },
							"message": { "type": "string", "example": "Prompt template not found" }
						}
						}
					}
					}
				},
				"500": {
					"description": "Internal Server Error",
					"content": {
					"application/json": {
						"schema": {
						"type": "object",
						"properties": {
							"status": { "type": "integer", "example": 500 },
							"message": { "type": "string", "example": "Error while creating agent" },
							"error": {
							"type": "object",
							"properties": {
								"details": { "type": "string", "example": "Some internal error message" }
							}
							}
						}
						}
					}
					}
				}
				},
				"security": [
				{ "apiKey": [] },
				{ "bearerAuth": [] }
				]
			}
		},
		"/api/agents/knowledge-bases/{kb_id}/assign": {
		"post": {
			"operationId": "assignKnowledgeBaseToAgent",
			"tags": [
			"Agents"
			],
			"summary": "Assign Agent",
			"description": "Assigns an existing knowledge base to one or more agents.",
			"parameters": [
			{
				"name": "kb_id",
				"in": "path",
				"required": true,
				"description": "Unique identifier of the knowledge base to assign.",
				"schema": {
				"type": "string",
				"example": "kb_12345"
				}
			}
			],
			"requestBody": {
			"required": true,
			"content": {
				"application/json": {
			"schema": {
					"type": "object",
					"example": {},
					"properties": {
					"agent_ids": {
						"type": "array",
						"items": {
						"type": "string"
						},
						"example": [
						"68dce5202fc07b92........"
						]
					}
					},
					"required": [
					"agent_ids"
					]
				}
				}
			}
			},
			"responses": {
			"200": {
				"description": "Knowledge base assigned successfully",
				"content": {
				"application/json": {
					"schema": {
					"type": "object",
					"properties": {
						"status": {
						"type": "integer",
						"example": 200
						},
						"message": {
						"type": "string",
						"example": "Knowledge base assigned successfully"
						},
						"data": {
						"type": "object",
						"properties": {
							"assigned_assistant_ids": {
							"type": "array",
							"items": {
								"type": "string"
							},
							"description": "List of agent IDs that the knowledge base was assigned to",
							"example": [
								"6960a6a1f89b3cdd196544cb"
							]
							},
							"assistants_with_kb_count": {
							"type": "integer",
							"description": "Total number of agents that now have this knowledge base assigned",
							"example": 2
							}
						}
						}
					}
					}
				}
				}
			},
			"400": {
				"description": "Bad Request",
				"content": {
				"application/json": {
					"schema": {
					"type": "object",
					"properties": {
						"status": {
						"type": "integer",
						"example": 400
						},
						"message": {
						"type": "string",
						"example": "Invalid request parameters"
						}
					}
					}
				}
				}
			},
			"401": {
				"description": "Unauthorized",
				"content": {
				"application/json": {
					"schema": {
					"type": "object",
					"properties": {
						"status": {
						"type": "integer",
						"example": 401
						},
						"message": {
						"type": "string",
						"example": "Unauthorized access"
						},
						"details": {
						"type": "string",
						"example": "Authentication token is missing or invalid"
						}
					}
					}
				}
				}
			},
			"404": {
				"description": "Not Found",
				"content": {
				"application/json": {
					"schema": {
					"type": "object",
					"properties": {
						"status": {
						"type": "integer",
						"example": 404
						},
						"message": {
						"type": "string",
						"example": "Knowledge base or agent not found"
						}
					}
					}
				}
				}
			},
			"500": {
				"description": "Internal Server Error",
				"content": {
				"application/json": {
					"schema": {
					"type": "object",
					"properties": {
						"status": {
						"type": "integer",
						"example": 500
						},
						"message": {
						"type": "string",
						"example": "Something went wrong. Please try again later."
						}
					}
					}
				}
				}
			}
			},
			"security": [
			{
				"apiKey": []
			},
			{
				"bearerAuth": []
			}
			],
			"x-mint": {
			"mcp": {
				"enabled": true
			}
			}
		}
		},
		"/api/agents/knowledge-bases/{kb_id}/unassign": {
		"post": {
			"operationId": "unassignKnowledgeBaseFromAgent",
			"tags": [
			"Agents"
			],
			"summary": "Unassign Agent",
			"description": "Removes an existing knowledge base association from one or more agents.",
			"parameters": [
			{
				"name": "kb_id",
				"in": "path",
				"required": true,
				"description": "Unique identifier of the knowledge base to unassign.",
				"schema": {
				"type": "string",
				"example": "kb_12345"
				}
			}
			],
			"requestBody": {
			"required": true,
			"content": {
				"application/json": {
			"schema": {
					"type": "object",
					"example": {},
					"properties": {
					"agent_ids": {
						"type": "array",
						"items": {
						"type": "string"
						},
						"example": [
						"68dce5202fc07b92042493b1"
						]
					}
					},
					"required": [
					"agent_ids"
					]
				}
				}
			}
			},
			"responses": {
			"200": {
				"description": "Knowledge base unassigned successfully",
				"content": {
				"application/json": {
					"schema": {
					"type": "object",
					"properties": {
						"status": {
						"type": "integer",
						"example": 200
						},
						"message": {
						"type": "string",
						"example": "Knowledge base unassigned successfully"
						},
						"data": {
						"type": "array",
						"items": {
							"type": "string"
						},
						"description": "List of agent IDs from which the knowledge base was unassigned",
						"example": [
							"6960a6a1f89b3cdd196544cb"
						]
						}
					}
					}
				}
				}
			},
			"400": {
				"description": "Bad Request",
				"content": {
				"application/json": {
					"schema": {
					"type": "object",
					"properties": {
						"status": {
						"type": "integer",
						"example": 400
						},
						"message": {
						"type": "string",
						"example": "Invalid request parameters"
						}
					}
					}
				}
				}
			},
			"401": {
				"description": "Unauthorized",
				"content": {
				"application/json": {
					"schema": {
					"type": "object",
					"properties": {
						"status": {
						"type": "integer",
						"example": 401
						},
						"message": {
						"type": "string",
						"example": "Unauthorized access"
						},
						"details": {
						"type": "string",
						"example": "Authentication token is missing or invalid"
						}
					}
					}
				}
				}
			},
			"403": {
				"description": "Forbidden",
				"content": {
					"application/json": {
					"schema": {
						"type": "object",
						"properties": {
						"status": { "type": "integer", "example": 403 },
						"message": { "type": "string", "example": "This route requires a user token without scope" }
						}
					}
					}
				}
			},
			"404": {
				"description": "Not Found",
				"content": {
				"application/json": {
					"schema": {
					"type": "object",
					"properties": {
						"status": {
						"type": "integer",
						"example": 404
						},
						"message": {
						"type": "string",
						"example": "Knowledge base or agent not found"
						}
					}
					}
				}
				}
			},
			"500": {
				"description": "Internal Server Error",
				"content": {
				"application/json": {
					"schema": {
					"type": "object",
					"properties": {
						"status": {
						"type": "integer",
						"example": 500
						},
						"message": {
						"type": "string",
						"example": "Something went wrong. Please try again later."
						}
					}
					}
				}
				}
			}
			},
			"security": [
			{
				"apiKey": []
			},
			{
				"bearerAuth": []
			}
			],
			"x-mint": {
			"mcp": {
				"enabled": true
			}
			}
		}
		},
		"/api/knowledge-base": {
			"post": {
				"operationId": "createSingleSourceKnowledgeBase",
				"tags": ["Knowledge Base"],
				"summary": "Create Knowledge Base",
				"description": "Creates a single-source knowledge base using either a URL (link) OR one uploaded file (file). Only one source is allowed per request.",
				"requestBody": {
				"required": true,
				"content": {
					"application/json": {
					"schema": {
						"type": "object",
						"description": "URL-based single source knowledge base",
						"required": ["baseUrl"],
						"example": {},
						"properties": {
						"urlName": { "type": "string", "example": "Ello.ai" },
						"baseUrl": { "type": "string", "format": "uri", "example": "https://getello.ai" },
						"subLinks": {
							"type": "array",
							"items": { "type": "string", "format": "uri" },
							"example": ["https://getello.ai/pricing", "https://getello.ai/blog"]
						},
						"type": {
							"type": "string",
							"enum": ["link"],
							"example": "link",
							"description": "Optional. If provided should be 'link'."
						},
						"workspaceId": {
							"type": "string",
							"description": "Optional. If not provided, workspace is taken from the authenticated token.",
							"example": "685d4b93fb5b2e221dc80ea9"
						}
						}
					}
					},
					"multipart/form-data": {
					"schema": {
						"type": "object",
						"description": "File-based single source knowledge base (only ONE file allowed)",
						"required": ["type", "file"],
						"example": {},
						"properties": {
						"type": {
							"type": "string",
							"enum": ["file"],
							"description": "Must be 'file' when uploading a document",
							"example": "file"
						},
						"file": {
							"type": "string",
							"format": "binary",
							"description": "Single PDF/document file to upload"
						},
						"urlName": {
							"type": "string",
							"description": "Optional display name for the KB (defaults to file name)",
							"example": "Invoice KB"
						},
						"workspaceId": {
							"type": "string",
							"description": "Optional. If not provided, workspace is taken from the authenticated token.",
							"example": "685d4b93fb5b2e221dc80ea9"
						}
						}
					}
					}
				}
				},
				"responses": {
				"201": {
					"description": "Knowledge base created successfully",
					"content": {
					"application/json": {
						"schema": {
						"type": "object",
						"properties": {
							"status": { "type": "integer", "example": 201 },
							"message": { "type": "string", "example": "Single source knowledge base created successfully" },
							"data": { "type": "object" }
						}
						}
					}
					}
				},
				"400": {
					"description": "Bad Request / Validation Error",
					"content": {
					"application/json": {
						"schema": {
						"type": "object",
						"properties": {
							"status": { "type": "integer", "example": 400 },
							"message": { "type": "string", "example": "Single source mode: Please provide either files or a URL" },
							"errors": {
							"type": "array",
							"description": "Present for Joi validation errors",
							"items": {
								"type": "object",
								"properties": {
								"field": { "type": "string", "example": "body.baseUrl" },
								"message": { "type": "string", "example": "\"baseUrl\" must be a valid uri" }
								}
							}
							}
						}
						}
					}
					}
				},
				"401": {
					"description": "Unauthorized",
					"content": {
					"application/json": {
						"schema": {
						"type": "object",
						"properties": {
							"status": { "type": "integer", "example": 401 },
							"message": { "type": "string", "example": "Unauthorized access" }
						}
						}
					}
					}
				},
				"409": {
					"description": "Conflict",
					"content": {
					"application/json": {
						"schema": {
						"type": "object",
						"properties": {
							"status": { "type": "integer", "example": 409 },
							"message": { "type": "string", "example": "Knowledge base name 'My KB' is already in use. Please choose a different name." },
							"error": {
							"type": "object",
							"properties": {
								"details": { "type": "string", "example": "Knowledge base name conflict" }
							}
							}
						}
						}
					}
					}
				},
				"422": {
					"description": "Unprocessable Entity",
					"content": {
					"application/json": {
						"schema": {
						"type": "object",
						"properties": {
							"status": { "type": "integer", "example": 422 },
							"message": { "type": "string", "example": "Content unavailable. This link might be private or protected by a security firewall." },
							"error": {
							"type": "object",
							"properties": {
								"details": { "type": "string", "example": "No content retrieved from provided URLs" }
							}
							}
						}
						}
					}
					}
				},
				"500": {
					"description": "Internal Server Error",
					"content": {
					"application/json": {
						"schema": {
						"type": "object",
						"properties": {
							"status": { "type": "integer", "example": 500 },
							"message": { "type": "string", "example": "Create single knowledge base" },
							"error": {
							"type": "object",
							"properties": {
								"details": { "type": "string", "example": "Internal error message" }
							}
							}
						}
						}
					}
					}
				}
				},
				"security": [{ "apiKey": [] }, { "bearerAuth": [] }]
			},

			"get": {
				"operationId": "listKnowledgeBases",
				"tags": ["Knowledge Base"],
				"summary": "List Knowledge Bases",
				"description": "Retrieve a paginated list of knowledge bases with filters, search, and sorting options.",
				"parameters": [
				{ "name": "page", "in": "query", "required": false, "schema": { "type": "integer", "minimum": 1, "example": 1 } },
				{ "name": "limit", "in": "query", "required": false, "schema": { "type": "integer", "minimum": 1, "maximum": 100, "example": 10 } },
				{ "name": "search", "in": "query", "required": false, "schema": { "type": "string", "example": "invoice" } },
				{ "name": "start_date", "in": "query", "required": false, "schema": { "type": "string", "format": "date-time", "example": "2026-04-01T00:00:00Z" } },
				{ "name": "end_date", "in": "query", "required": false, "schema": { "type": "string", "format": "date-time", "example": "2026-04-03T23:59:59Z" } },
				{ "name": "sortBy", "in": "query", "required": false, "schema": { "type": "string", "example": "updatedAt" } },
				{ "name": "sortOrder", "in": "query", "required": false, "schema": { "type": "string", "enum": ["asc", "desc"], "example": "desc" } },
				{ "name": "assistant_id", "in": "query", "required": false, "schema": { "type": "string", "example": "69cf92ec643b415327cab0ae" } }
				],
				"responses": {
				"200": {
					"description": "Knowledge bases retrieved successfully",
					"content": {
					"application/json": {
						"schema": {
						"type": "object",
						"properties": {
							"status": { "type": "integer", "example": 200 },
							"message": { "type": "string", "example": "Knowledge bases retrieved successfully" },
							"data": { "type": "array", "items": { "type": "object" } },
							"pagination": {
							"type": "object",
							"properties": {
								"page": { "type": "integer", "example": 1 },
								"limit": { "type": "integer", "example": 10 },
								"total": { "type": "integer", "example": 1 },
								"totalPages": { "type": "integer", "example": 1 },
								"hasNextPage": { "type": "boolean", "example": false },
								"hasPrevPage": { "type": "boolean", "example": false }
							}
							}
						}
						}
					}
					}
				},
				"400": {
					"description": "Bad Request / Validation Error",
					"content": {
					"application/json": {
						"schema": {
						"type": "object",
						"properties": {
							"status": { "type": "integer", "example": 400 },
							"message": { "type": "string", "example": "Validation Error" },
							"errors": {
							"type": "array",
							"items": {
								"type": "object",
								"properties": {
								"field": { "type": "string", "example": "query.limit" },
								"message": { "type": "string", "example": "\"limit\" must be less than or equal to 100" }
								}
							}
							}
						}
						}
					}
					}
				},
				"401": {
					"description": "Unauthorized",
					"content": {
					"application/json": {
						"schema": {
						"type": "object",
						"properties": {
							"status": { "type": "integer", "example": 401 },
							"message": { "type": "string", "example": "Unauthorized access" }
						}
						}
					}
					}
				},
				"500": {
					"description": "Internal Server Error",
					"content": {
					"application/json": {
						"schema": {
						"type": "object",
						"properties": {
							"status": { "type": "integer", "example": 500 },
							"message": { "type": "string", "example": "Error listing knowledge bases" },
							"error": {
							"type": "object",
							"properties": {
								"details": { "type": "string", "example": "Internal error message" }
							}
							}
						}
						}
					}
					}
				}
				},
				"security": [{ "apiKey": [] }, { "bearerAuth": [] }]
			}
		},
		"/api/knowledge-base/{kb_id}": {
			"delete": {
				"operationId": "deleteKnowledgeBase",
				"tags": ["Knowledge"],
				"summary": "Delete Knowledge Base",
				"description": "Deletes a knowledge base by ID. Workspace is derived from the authenticated token (X-Workspace-ID / user token).",
				"parameters": [
				{
					"name": "kb_id",
					"in": "path",
					"description": "Unique identifier of the knowledge base",
					"required": true,
					"schema": {
					"type": "string",
					"example": "68370e3d5b7d04371d20b4e1"
					}
				}
				],
				"responses": {
				"200": {
					"description": "Knowledge base deleted successfully",
					"content": {
					"application/json": {
						"schema": {
						"type": "object",
						"example": {
							"status": 200,
							"message": "Knowledge base deleted successfully",
							"data": {}
						}
						}
					}
					}
				},
				"400": {
					"description": "Bad Request / Validation Error",
					"content": {
					"application/json": {
						"schema": {
						"type": "object",
						"properties": {
							"status": { "type": "integer", "example": 400 },
							"message": { "type": "string", "example": "Validation Error" },
							"errors": {
							"type": "array",
							"items": {
								"type": "object",
								"properties": {
								"field": { "type": "string", "example": "params.kb_id" },
								"message": { "type": "string", "example": "\"kb_id\" is required" }
								}
							}
							}
						}
						}
					}
					}
				},
				"401": {
					"description": "Unauthorized",
					"content": {
					"application/json": {
						"schema": {
						"type": "object",
						"properties": {
							"status": { "type": "integer", "example": 401 },
							"message": { "type": "string", "example": "Unauthorized access" }
						}
						}
					}
					}
				},
				"403": {
					"description": "Forbidden",
					"content": {
					"application/json": {
						"schema": {
						"type": "object",
						"properties": {
							"status": { "type": "integer", "example": 403 },
							"message": { "type": "string", "example": "This route requires a user token without scope" }
						}
						}
					}
					}
				},
				"500": {
					"description": "Internal Server Error",
					"content": {
					"application/json": {
						"schema": {
						"type": "object",
						"properties": {
							"status": { "type": "integer", "example": 500 },
							"message": { "type": "string", "example": "Error while deleting knowledge base" },
							"error": {
							"type": "object",
							"properties": {
								"details": { "type": "string", "example": "Some internal error message" }
							}
							}
						}
						}
					}
					}
				}
				},
				"security": [{ "apiKey": [] }, { "bearerAuth": [] }],
				"x-mint": { "mcp": { "enabled": true } }
			}
		},
		"/api/agents/{agent_id}/calls": {
			"post": {
				"summary": "Create Call",
				"tags": [
				"Calls"
				],
				"description": "Creates a new call ",
				"parameters": [
				{
					"name": "agent_id",
					"in": "path",
					"required": true,
					"description": "Unique identifier of the agent initiating the call.",
					"schema": {
					"type": "string"
					}
				}
				],
				"requestBody": {
				"required": true,
				"content": {
					"application/json": {
					"schema": {
						"type": "object",
						"required": ["to_number", "agent_type"],
						"example": {},
						"properties": {
						"message": { "type": "string", "example": "Hello! Am I speaking to Sri?" },
						"to_number": { "type": "string", "example": "+911234556789" },
						"context_data": { "type": "object", "example": { "customer_name": "Sri" } },

						"agent_type": { "type": "string", "example": "telephonic" },
						"source": { "type": "string", "example": "web" },

						"workspace_id": { "type": "string", "example": "6970c2f3948cfbce1932d99d" },
						"name": { "type": "string", "example": "Sri" },

						"hook_url": { "type": "string", "example": "https://example.com/webhook/call-events" },
						"siptrunk_id": { "type": "string", "example": "s3434ededs" },

						"memory_id": { "type": "string", "example": "mem_123" },
						"greeting_description": { "type": "string", "example": "Friendly greeting, sales tone" },

						"call_type": { "type": "string", "example": "outbound" }
						}
					}
					}
				}
			},
				"responses": {
				"200": {
					"description": "Message published successfully",
					"content": {
					"application/json": {
						"schema": {
						"type": "object",
						"properties": {
							"status": {
							"type": "integer",
							"example": 200
							},
							"message": {
							"type": "string",
							"example": "Message published successfully"
							},
							"data": {
							"type": "object",
							"example": {
								"conversation_id": "6900b87ca70928b1224f0619",
								"call_status": "success"
							}
							}
						}
						}
					}
					}
				},
				"400": {
					"description": "Bad Request",
					"content": {
					"application/json": {
						"schema": {
						"type": "object",
						"properties": {
							"status": {
							"type": "integer",
							"example": 400
							},
							"message": {
							"type": "string",
							"example": "Invalid request parameters"
							}
						}
						}
					}
					}
				},
				"401": {
					"description": "Unauthorized",
					"content": {
					"application/json": {
						"schema": {
						"type": "object",
						"properties": {
							"status": {
							"type": "integer",
							"example": 401
							},
							"message": {
							"type": "string",
							"example": "Unauthorized access"
							},
							"details": {
							"type": "string",
							"example": "Authentication token is missing or invalid"
							}
						}
						}
					}
					}
				},
				"402": {
					"description": "Payment Required",
					"content": {
					"application/json": {
						"schema": {
						"type": "object",
						"properties": {
							"status": {
							"type": "integer",
							"example": 402
							},
							"message": {
							"type": "string",
							"example": "Insufficient credits to initiate call"
							},
							"error_code": {
							"type": "string",
							"example": "INSUFFICIENT_CREDITS"
							}
						}
						}
					}
					}
				},
				"500": {
					"description": "Internal Server Error",
					"content": {
					"application/json": {
						"schema": {
						"type": "object",
						"properties": {
							"status": {
							"type": "integer",
							"example": 500
							},
							"message": {
							"type": "string",
							"example": "Error while publishing message to agent"
							}
						}
						}
					}
					}
				}
				},
				"security": [
				{
					"apiKey": []
				},
				{
					"bearerAuth": []
				}
				],
				"x-mint": {
				"mcp": {
					"enabled": true
				}
				}
			}
		},
		"/api/reports/agents/calls": {
			"get": {
				"summary": "Get Call",
				"tags": [
				"Reports"
				],
				"description": "Retreives details of a specific call",
				"parameters": [
				{
					"name": "page",
					"in": "query",
					"required": false,
					"description": "Page number for pagination.",
					"schema": {
					"type": "integer",
					"example": 1
					}
				},
				{
					"name": "limit",
					"in": "query",
					"required": false,
					"description": "Number of records per page.",
					"schema": {
					"type": "integer",
					"example": 10
					}
				},
				{
					"name": "fromDate",
					"in": "query",
					"required": false,
					"description": "Start date for filtering (ISO format).",
					"schema": {
					"type": "string",
					"format": "date-time",
					"example": "2025-10-01T00:00:00Z"
					}
				},
				{
					"name": "toDate",
					"in": "query",
					"required": false,
					"description": "End date for filtering (ISO format).",
					"schema": {
					"type": "string",
					"format": "date-time",
					"example": "2025-10-29T23:59:59Z"
					}
				},
				{
					"name": "status",
					"in": "query",
					"required": false,
					"description": "Filter calls by status (e.g. success, failed).",
					"schema": {
					"type": "string",
					"example": "success"
					}
				},
				{
					"name": "agent_type",
					"in": "query",
					"required": false,
					"description": "Filter calls by agent type (e.g. webcall, phonecall).",
					"schema": {
					"type": "string",
					"example": "webcall"
					}
				}
				],
				"responses": {
				"200": {
					"description": "Call stats fetched successfully",
					"content": {
					"application/json": {
						"schema": {
						"type": "object",
						"properties": {
							"status": {
							"type": "integer",
							"example": 200
							},
							"message": {
							"type": "string",
							"example": "Call stats fetched successfully"
							},
							"data": {
							"type": "object",
							"example": {
								"total_calls": 125,
								"successful_calls": 118,
								"failed_calls": 7,
								"average_duration": "3m 45s",
								"calls": [
								{
									"call_id": "6900b87ca70928b1224f0619",
									"agent_id": "685d4b93e834a8dba90f2e12",
									"agent_type": "webcall",
									"status": "success",
									"duration": "2m 30s",
									"created_at": "2025-10-29T10:15:00Z"
								}
								]
							}
							}
						}
						}
					}
					}
				},
				"400": {
					"description": "Bad Request",
					"content": {
					"application/json": {
						"schema": {
						"type": "object",
						"properties": {
							"status": {
							"type": "integer",
							"example": 400
							},
							"message": {
							"type": "string",
							"example": "Failed to fetch call stats"
							}
						}
						}
					}
					}
				},
				"401": {
					"description": "Unauthorized",
					"content": {
					"application/json": {
						"schema": {
						"type": "object",
						"properties": {
							"status": {
							"type": "integer",
							"example": 401
							},
							"message": {
							"type": "string",
							"example": "Unauthorized access"
							},
							"details": {
							"type": "string",
							"example": "Authentication token is missing or invalid"
							}
						}
						}
					}
					}
				},
				"500": {
					"description": "Internal Server Error",
					"content": {
					"application/json": {
						"schema": {
						"type": "object",
						"properties": {
							"status": {
							"type": "integer",
							"example": 500
							},
							"message": {
							"type": "string",
							"example": "Error while fetching call stats"
							}
						}
						}
					}
					}
				}
				},
				"security": [
				{
					"apiKey": []
				},
				{
					"bearerAuth": []
				}
				],
				"x-mint": {
				"mcp": {
					"enabled": true
				}
				}
			}
		},
		"/api/phone-number": {
		"get": {
			"summary": "List Phone Numbers",
			"tags": [
			"Phone Numbers"
			],
			"description": "Retreives a paginated list of phone numbers",
			"parameters": [
			{
				"name": "page",
				"in": "query",
				"required": false,
				"description": "Page number for pagination.",
				"schema": {
				"type": "integer",
				"example": 1
				}
			},
			{
				"name": "size",
				"in": "query",
				"required": false,
				"description": "Number of phone numbers to return per page.",
				"schema": {
				"type": "integer",
				"example": 10
				}
			}
			],
			"responses": {
			"200": {
				"description": "Phone numbers fetched successfully",
				"content": {
				"application/json": {
					"schema": {
					"type": "object",
					"properties": {
						"status": {
						"type": "integer",
						"example": 200
						},
						"message": {
						"type": "string",
						"example": "Phone numbers fetched successfully"
						},
						"data": {
						"type": "object",
						"example": {
							"total": 3,
							"page": 1,
							"size": 10,
							"phone_numbers": [
							{
								"_id": "6901a88b23bc1023d88134fa",
								"number": "+14155552671",
								"status": "active",
								"type": "inbound",
								"created_at": "2025-10-10T09:30:00Z"
							},
							{
								"_id": "6901a88b23bc1023d88134fb",
								"number": "+14155559876",
								"status": "inactive",
								"type": "outbound",
								"created_at": "2025-09-20T11:45:00Z"
							}
							]
						}
						}
					}
					}
				}
				}
			},
			"400": {
				"description": "Bad Request",
				"content": {
				"application/json": {
					"schema": {
					"type": "object",
					"properties": {
						"status": {
						"type": "integer",
						"example": 400
						},
						"message": {
						"type": "string",
						"example": "Failed to get user phone numbers"
						}
					}
					}
				}
				}
			},
			"401": {
				"description": "Unauthorized",
				"content": {
				"application/json": {
					"schema": {
					"type": "object",
					"properties": {
						"status": {
						"type": "integer",
						"example": 401
						},
						"message": {
						"type": "string",
						"example": "Unauthorized access"
						},
						"details": {
						"type": "string",
						"example": "Authentication token is missing or invalid"
						}
					}
					}
				}
				}
			},
			"500": {
				"description": "Internal Server Error",
				"content": {
				"application/json": {
					"schema": {
					"type": "object",
					"properties": {
						"status": {
						"type": "integer",
						"example": 500
						},
						"message": {
						"type": "string",
						"example": "Error while getting user phone numbers"
						}
					}
					}
				}
				}
			}
			},
			"security": [
			{
				"apiKey": []
			},
			{
				"bearerAuth": []
			}
			],
			"x-mint": {
			"mcp": {
				"enabled": true
			}
			}
		}
		},
		"/api/agents/{agent_id}/phone-number": {
		"put": {
			"summary": "Assign Phone Number",
			"tags": [
			"Agents"
			],
			"description": "Assigns a phone number for a specific agent by their ID.",
			"parameters": [
			{
				"name": "agent_id",
				"in": "path",
				"required": true,
				"description": "Unique identifier of the agent to assign or update the phone number for.",
				"schema": {
				"type": "string",
				"example": "786786778hj"
				}
			}
			],
			"requestBody": {
			"required": true,
			"content": {
				"application/json": {
				"schema": {
					"type": "object",
					"example": {},
					"properties": {
					"phone_number": {
						"type": "string",
						"description": "The phone number to be assigned or updated for the agent.",
						"example": "786786709"
					}
					},
					"required": [
					"phone_number"
					]
				}
				}
			}
			},
			"responses": {
			"200": {
				"description": "Phone number assigned or updated successfully",
				"content": {
				"application/json": {
					"schema": {
					"type": "object",
					"properties": {
						"status": {
						"type": "integer",
						"example": 200
						},
						"message": {
						"type": "string",
						"example": "Phone number assigned successfully"
						},
						"data": {
						"type": "object",
						"example": {
							"agent_id": "786786778hj",
							"phone_number": "786786709",
							"assignment_status": "success"
						}
						}
					}
					}
				}
				}
			},
			"400": {
				"description": "Unexpected error",
				"content": {
				"application/json": {
					"schema": {
					"type": "object",
					"properties": {
						"status": {
						"type": "integer",
						"example": 400
						},
						"message": {
						"type": "string",
						"example": "Unexpected error"
						}
					}
					}
				}
				}
			},
			"401": {
				"description": "Unauthorized access",
				"content": {
				"application/json": {
					"schema": {
					"type": "object",
					"properties": {
						"status": {
						"type": "integer",
						"example": 401
						},
						"message": {
						"type": "string",
						"example": "Authentication token is missing or invalid"
						}
					}
					}
				}
				}
			},
			"500": {
				"description": "Internal Server Error",
				"content": {
				"application/json": {
					"schema": {
					"type": "object",
					"properties": {
						"status": {
						"type": "integer",
						"example": 500
						},
						"message": {
						"type": "string",
						"example": "Error while updating agent phone number"
						}
					}
					}
				}
				}
			}
			},
			"security": [
			{
				"apiKey": []
			},
			{
				"bearerAuth": []
			}
			],
			"x-mint": {
			"mcp": {
				"enabled": true
			}
			}
		},
		"delete": {
			"operationId": "unassignAgentMobileNumber",
			"tags": [
			"Agents"
			],
			"summary": "Unassign Phone Number",
			"description": "Unassigns a phone number from a specific agent",
			"parameters": [
			{
				"name": "agent_id",
				"in": "path",
				"description": "Unique identifier of the agent",
				"required": true,
				"schema": {
				"type": "string",
				"example": "683715217c8e5fe1361c6faa"
				}
			}
			],
			"responses": {
			"200": {
				"description": "Phone number unassigned successfully",
				"content": {
				"application/json": {
					"schema": {
					"type": "object",
					"properties": {
						"status": {
						"type": "integer",
						"example": 200
						},
						"message": {
						"type": "string",
						"example": "Agent phone number unassigned successfully"
						},
						"data": {
						"type": "object",
						"properties": {
							"agent_id": {
							"type": "string",
							"example": "683715217c8e5fe1361c6faa"
							},
							"previousPhoneNumber": {
							"type": "string",
							"example": "+1-555-0123"
							}
						}
						}
					}
					}
				}
				}
			},
			"400": {
				"description": "Bad Request",
				"content": {
				"application/json": {
					"schema": {
					"type": "object",
					"properties": {
						"status": {
						"type": "integer",
						"example": 400
						},
						"message": {
						"type": "string",
						"example": "Error while unassigning phone number from agent"
						}
					}
					}
				}
				}
			},
			"401": {
				"description": "Unauthorized",
				"content": {
				"application/json": {
					"schema": {
					"type": "object",
					"properties": {
						"status": {
						"type": "integer",
						"example": 401
						},
						"message": {
						"type": "string",
						"example": "Authentication token is missing or invalid"
						}
					}
					}
				}
				}
			},
			"500": {
				"description": "Internal Server Error",
				"content": {
				"application/json": {
					"schema": {
					"type": "object",
					"properties": {
						"status": {
						"type": "integer",
						"example": 500
						},
						"message": {
						"type": "string",
						"example": "Error while unassigning phone number from agent"
						}
					}
					}
				}
				}
			}
			},
			"security": [
			{
				"apiKey": []
			},
			{
				"bearerAuth": []
			}
			],
			"x-mint": {
			"mcp": {
				"enabled": true
			}
			}
		}
		},
		"/api/campaign": {
			"post": {
				"summary": "Create Campaign",
				"tags": ["Campaigns"],
				"description": "Creates a new campaign with an uploaded recipients file, linked assistant, and schedule settings.",
				"requestBody": {
				"required": true,
				"content": {
					"multipart/form-data": {
					"schema": {
						"type": "object",
						"example": {},
						"properties": {
						"campaignName": {
							"type": "string",
							"description": "The name of the campaign.",
							"example": "Follow-up Campaign October"
						},
						"assistantId": {
							"type": "string",
							"description": "The ID of the assistant (agent) associated with this campaign.",
							"example": "685d4b93abcf4c90c18034aa"
						},
						"scheduleTime": {
							"type": "string",
							"format": "date-time",
							"description": "Scheduled time for the campaign in ISO format (optional).",
							"example": "2025-10-29T11:30:00.000Z"
						},
						"scheduleEnabled": {
							"type": "string",
							"description": "Set to 'true' to enable scheduling for the campaign (optional).",
							"example": "true"
						},
						"file": {
							"type": "string",
							"format": "binary",
							"description": "CSV file containing the list of recipients for the campaign."
						}
						},
						"required": ["campaignName", "assistantId", "file"]
					}
					}
				}
				},
				"responses": {
				"201": {
					"description": "Campaign created successfully",
					"content": {
					"application/json": {
						"schema": {
						"type": "object",
						"properties": {
							"status": {
							"type": "integer",
							"example": 201
							},
							"message": {
							"type": "string",
							"example": "Campaign created successfully"
							},
							"data": {
							"type": "object",
							"properties": {
								"campaign_id": {
								"type": "string",
								"example": "6901c1d8b004a5d55a123abc"
								},
								"campaignName": {
								"type": "string",
								"example": "Follow-up Campaign October"
								},
								"assistantId": {
								"type": "string",
								"example": "685d4b93abcf4c90c18034aa"
								},
								"status": {
								"type": "string",
								"enum": ["scheduled", "processing", "active", "completed", "failed"],
								"example": "scheduled"
								},
								"scheduleTime": {
								"type": "string",
								"format": "date-time",
								"example": "2025-10-29T11:30:00.000Z"
								},
								"createdAt": {
								"type": "string",
								"format": "date-time",
								"example": "2026-04-07T10:30:00.000Z"
								}
							}
							}
						}
						}
					}
					}
				},
				"400": {
					"description": "Bad Request - Missing required fields or invalid input",
					"content": {
					"application/json": {
						"schema": {
						"type": "object",
						"properties": {
							"status": { "type": "integer", "example": 400 },
							"message": {
							"type": "string",
							"example": "Campaign already exists"
							},
							"details": {
							"type": "string",
							"example": "Assistant ID is required or No file uploaded"
							}
						}
						}
					}
					}
				},
				"401": {
					"description": "Unauthorized access",
					"content": {
					"application/json": {
						"schema": {
						"type": "object",
						"properties": {
							"status": { "type": "integer", "example": 401 },
							"message": { "type": "string", "example": "Authentication token is missing or invalid" }
						}
						}
					}
					}
				},
				"422": {
					"description": "Unprocessable Entity - Error with assistant service or file processing",
					"content": {
					"application/json": {
						"schema": {
						"type": "object",
						"properties": {
							"status": { "type": "integer", "example": 422 },
							"message": { "type": "string", "example": "Error while uploading file" },
							"details": { "type": "string", "example": "Assistant service error or invalid file format" }
						}
						}
					}
					}
				},
				"500": {
					"description": "Internal Server Error",
					"content": {
					"application/json": {
						"schema": {
						"type": "object",
						"properties": {
							"status": { "type": "integer", "example": 500 },
							"message": { "type": "string", "example": "Error while uploading file" },
							"details": { "type": "string" }
						}
						}
					}
					}
				}
				},
				"security": [
				{ "apiKey": [] },
				{ "bearerAuth": [] }
				],
				"x-mint": {
				"mcp": { "enabled": true }
				}
			},
			"get": {
				"summary": "List Campaigns",
				"tags": ["Campaigns"],
				"description": "Retrieves a paginated list of created campaigns.",
				"parameters": [
				{
					"name": "search",
					"in": "query",
					"required": false,
					"schema": { "type": "string" },
					"description": "Search keyword to filter campaigns by name or other attributes."
				},
				{
					"name": "status",
					"in": "query",
					"required": false,
					"schema": {
					"type": "string",
					"enum": ["scheduled", "running", "completed", "failed"],
					"example": "scheduled"
					},
					"description": "Filter campaigns based on their current status."
				},
				{
					"name": "page",
					"in": "query",
					"required": false,
					"schema": { "type": "integer", "minimum": 1, "default": 1 },
					"description": "The page number to retrieve."
				},
				{
					"name": "limit",
					"in": "query",
					"required": false,
					"schema": { "type": "integer", "minimum": 1, "maximum": 100, "default": 10 },
					"description": "Number of campaigns to return per page."
				}
				],
				"responses": {
				"200": {
					"description": "Campaigns retrieved successfully",
					"content": {
					"application/json": {
						"schema": {
						"type": "object",
						"properties": {
							"status": { "type": "integer", "example": 200 },
							"message": { "type": "string", "example": "Campaigns retrieved successfully" },
							"data": {
							"type": "array",
							"items": {
								"type": "object",
								"properties": {
								"campaign_id": { "type": "string", "example": "6901c1d8b004a5d55a123abc" },
								"campaignName": { "type": "string", "example": "Follow-up Campaign October" },
								"assistantId": { "type": "string", "example": "685d4b93abcf4c90c18034aa" },
								"status": {
									"type": "string",
									"enum": ["scheduled", "running", "completed", "failed"],
									"example": "scheduled"
								},
								"scheduleTime": { "type": "string", "format": "date-time", "example": "2025-10-29T11:30:00.000Z" },
								"recipientCount": { "type": "integer", "example": 150 },
								"createdAt": { "type": "string", "format": "date-time", "example": "2026-04-07T10:30:00.000Z" },
								"updatedAt": { "type": "string", "format": "date-time", "example": "2026-04-07T10:35:00.000Z" }
								}
							}
							},
							"pagination": {
							"type": "object",
							"properties": {
								"page": { "type": "integer", "example": 1 },
								"limit": { "type": "integer", "example": 10 },
								"total": { "type": "integer", "example": 25 },
								"totalPages": { "type": "integer", "example": 3 },
								"hasNextPage": { "type": "boolean", "example": true },
								"hasPrevPage": { "type": "boolean", "example": false }
							}
							}
						}
						}
					}
					}
				},
				"400": {
					"description": "Bad Request",
					"content": {
					"application/json": {
						"schema": {
						"type": "object",
						"properties": {
							"status": { "type": "integer", "example": 400 },
							"message": { "type": "string", "example": "Invalid query parameters" }
						}
						}
					}
					}
				},
				"401": {
					"description": "Unauthorized access",
					"content": {
					"application/json": {
						"schema": {
						"type": "object",
						"properties": {
							"status": { "type": "integer", "example": 401 },
							"message": { "type": "string", "example": "Authentication token is missing or invalid" }
						}
						}
					}
					}
				},
				"500": {
					"description": "Internal Server Error",
					"content": {
					"application/json": {
						"schema": {
						"type": "object",
						"properties": {
							"status": { "type": "integer", "example": 500 },
							"message": { "type": "string", "example": "Error while fetching campaigns" }
						}
						}
					}
					}
				}
				},
				"security": [
				{ "apiKey": [] },
				{ "bearerAuth": [] }
				],
				"x-mint": {
				"mcp": { "enabled": true }
				}
			}
		},
		"/api/campaign/{campaign_id}": {
			"get": {
				"summary": "Get Campaign by ID",
				"tags": ["Campaigns"],
				"description": "Retrieves details of a specific campaign by its ID",
				"parameters": [
				{
					"name": "campaign_id",
					"in": "path",
					"required": true,
					"description": "Unique identifier of the campaign",
					"schema": {
					"type": "string",
					"example": "6901c1d8b004a5d55a123abc"
					}
				}
				],
				"responses": {
				"200": {
					"description": "Campaign retrieved successfully",
					"content": {
					"application/json": {
						"schema": {
						"type": "object",
						"properties": {
							"status": { "type": "integer", "example": 200 },
							"message": { "type": "string", "example": "Campaign retrieved successfully" },
							"data": {
							"type": "object",
							"description": "Campaign payload returned by the campaign service via gateway.",
							"example": {
								"campaign_id": "6901c1d8b004a5d55a123abc",
								"campaignName": "Follow-up Campaign October",
								"status": "scheduled"
							}
							}
						}
						}
					}
					}
				},
				"400": {
					"description": "Bad Request",
					"content": {
					"application/json": {
						"schema": {
						"type": "object",
						"properties": {
							"status": { "type": "integer", "example": 400 },
							"message": { "type": "string", "example": "Workspace ID is required" }
						}
						}
					}
					}
				},
				"401": {
					"description": "Unauthorized",
					"content": {
					"application/json": {
						"schema": {
						"type": "object",
						"properties": {
							"status": { "type": "integer", "example": 401 },
							"message": { "type": "string", "example": "Authentication token is missing or invalid" }
						}
						}
					}
					}
				},
				"404": {
					"description": "Not Found",
					"content": {
					"application/json": {
						"schema": {
						"type": "object",
						"properties": {
							"status": { "type": "integer", "example": 404 },
							"message": { "type": "string", "example": "Campaign not found" }
						}
						}
					}
					}
				},
				"500": {
					"description": "Internal Server Error",
					"content": {
					"application/json": {
						"schema": {
						"type": "object",
						"properties": {
							"status": { "type": "integer", "example": 500 },
							"message": { "type": "string", "example": "Error while fetching campaign" },
							"error": {
							"type": "object",
							"properties": {
								"details": { "type": "string", "example": "Error message details" }
							}
							}
						}
						}
					}
					}
				}
				},
				"security": [{ "apiKey": [] }, { "bearerAuth": [] }],
				"x-mint": { "mcp": { "enabled": true } }
			}
		},
		"/api/campaign/calls/status": {
			"get": {
				"summary": "Get Campaigns Calls Status",
				"tags": ["Campaigns"],
				"description": "Retrieves call status for all campaigns with pagination",
				"parameters": [
				{
					"name": "workspaceId",
					"in": "query",
					"required": true,
					"description": "Workspace ID",
					"schema": {
					"type": "string",
					"example": "6960a5eb2c65e7fda50603e5"
					}
				},
				{
					"name": "updatedTime",
					"in": "query",
					"required": true,
					"description": "Filter by updated time",
					"schema": {
					"type": "string",
					"format": "date-time",
					"example": "2025-10-01T00:00:00Z"
					}
				},
				{
					"name": "page",
					"in": "query",
					"required": false,
					"description": "Page number for pagination",
					"schema": {
					"type": "integer",
					"minimum": 1,
					"default": 1,
					"example": 1
					}
				},
				{
					"name": "limit",
					"in": "query",
					"required": false,
					"description": "Number of records per page",
					"schema": {
					"type": "integer",
					"minimum": 1,
					"maximum": 100,
					"default": 10,
					"example": 10
					}
				},
				{
					"name": "search",
					"in": "query",
					"required": false,
					"description": "Search keyword",
					"schema": {
					"type": "string",
					"example": "campaign-name"
					}
				}
				],
				"responses": {
				"200": {
					"description": "Campaigns calls status retrieved successfully",
					"content": {
					"application/json": {
						"schema": {
						"type": "object",
						"properties": {
							"status": { "type": "integer", "example": 200 },
							"message": { "type": "string", "example": "Campaigns calls status retrieved successfully" },
							"data": {
							"type": "array",
							"items": { "type": "object" }
							},
							"pagination": {
							"type": "object",
							"properties": {
								"page": { "type": "integer", "example": 1 },
								"limit": { "type": "integer", "example": 10 },
								"total": { "type": "integer", "example": 5 },
								"totalPages": { "type": "integer", "example": 1 },
								"hasNextPage": { "type": "boolean", "example": false },
								"hasPrevPage": { "type": "boolean", "example": false }
							}
							}
						}
						}
					}
					}
				},
				"400": {
					"description": "Bad Request",
					"content": {
					"application/json": {
						"schema": {
						"type": "object",
						"properties": {
							"status": { "type": "integer", "example": 400 },
							"message": {
							"type": "string",
							"examples": {
								"validation": { "value": "Validation Error" },
								"missingWorkspace": { "value": "workspaceId is required" },
								"proxyFailure": { "value": "Failed to fetch Campaigns calls status" }
							}
							},
							"errors": {
							"type": "array",
							"description": "Present when validation fails",
							"items": {
								"type": "object",
								"properties": {
								"field": { "type": "string", "example": "query.updatedTime" },
								"message": { "type": "string", "example": "\"updatedTime\" is required" }
								}
							}
							}
						}
						}
					}
					}
				},
				"401": {
					"description": "Unauthorized",
					"content": {
					"application/json": {
						"schema": {
						"type": "object",
						"properties": {
							"status": { "type": "integer", "example": 401 },
							"message": { "type": "string", "example": "Authentication token is missing or invalid" }
						}
						}
					}
					}
				},
				"500": {
					"description": "Internal Server Error",
					"content": {
					"application/json": {
						"schema": {
						"type": "object",
						"properties": {
							"status": { "type": "integer", "example": 500 },
							"message": { "type": "string", "example": "Error while fetching Campaigns calls status" },
							"error": {
							"type": "object",
							"properties": {
								"details": { "type": "string", "example": "Error message details" }
							}
							}
						}
						}
					}
					}
				}
				},
				"security": [{ "apiKey": [] }, { "bearerAuth": [] }],
				"x-mint": { "mcp": { "enabled": true } }
			}
		},
		"/api/campaign/{campaign_id}/call-status": {
		"get": {
			"summary": "Get Campaign Call Status",
			"tags": [
			"Campaigns"
			],
			"description": "Retrieves call status for a specific campaign with pagination",
			"parameters": [
			{
				"name": "campaign_id",
				"in": "path",
				"required": true,
				"description": "Unique identifier of the campaign",
				"schema": {
				"type": "string",
				"example": "6901c1d8b004a5d55a123abc"
				}
			},
			{
				"name": "page",
				"in": "query",
				"required": false,
				"description": "Page number for pagination",
				"schema": {
				"type": "integer",
				"example": 1
				}
			},
			{
				"name": "limit",
				"in": "query",
				"required": false,
				"description": "Number of records per page",
				"schema": {
				"type": "integer",
				"example": 10
				}
			},
			{
				"name": "search",
				"in": "query",
				"required": false,
				"description": "Search keyword",
				"schema": {
				"type": "string",
				"example": "call-status"
				}
			},
			{
				"name": "updatedTime",
				"in": "query",
				"required": false,
				"description": "Filter by updated time",
				"schema": {
				"type": "string",
				"format": "date-time",
				"example": "2025-10-01T00:00:00Z"
				}
			}
			],
			"responses": {
			"200": {
				"description": "Campaign call status retrieved successfully",
				"content": {
				"application/json": {
					"schema": {
					"type": "object",
					"properties": {
						"status": {
						"type": "integer",
						"example": 200
						},
						"message": {
						"type": "string",
						"example": "Campaign call status retrieved successfully"
						},
						"data": {
						"type": "array",
						"items": {
							"type": "object"
						}
						},
						"pagination": {
						"type": "object",
						"properties": {
							"page": {
							"type": "integer",
							"example": 1
							},
							"limit": {
							"type": "integer",
							"example": 10
							},
							"total": {
							"type": "integer",
							"example": 25
							},
							"totalPages": {
							"type": "integer",
							"example": 3
							}
						}
						}
					}
					}
				}
				}
			},
			"400": {
				"description": "Bad Request",
				"content": {
				"application/json": {
					"schema": {
					"type": "object",
					"properties": {
						"status": {
						"type": "integer",
						"example": 400
						},
						"message": {
						"type": "string",
						"example": "campaign_id is required"
						}
					}
					}
				}
				}
			},
			"401": {
				"description": "Unauthorized",
				"content": {
				"application/json": {
					"schema": {
					"type": "object",
					"properties": {
						"status": {
						"type": "integer",
						"example": 401
						},
						"message": {
						"type": "string",
						"example": "Authentication token is missing or invalid"
						}
					}
					}
				}
				}
			},
			"500": {
				"description": "Internal Server Error",
				"content": {
				"application/json": {
					"schema": {
					"type": "object",
					"properties": {
						"status": {
						"type": "integer",
						"example": 500
						},
						"message": {
						"type": "string",
						"example": "Error while fetching campaign call status"
						}
					}
					}
				}
				}
			}
			},
			"security": [
			{
				"apiKey": []
			},
			{
				"bearerAuth": []
			}
			],
			"x-mint": {
			"mcp": {
				"enabled": true
			}
			}
		}
		},
		"/api/campaign/campaign-download": {
			"get": {
				"summary": "Download Campaign Excel Sheet",
				"tags": ["Campaigns"],
				"description": "Downloads campaign data as an Excel file",
				"parameters": [
				{
					"name": "campaign_id",
					"in": "query",
					"required": true,
					"description": "Unique identifier of the campaign",
					"schema": { "type": "string", "example": "6901c1d8b004a5d55a123abc" }
				},
				{
					"name": "workspace_id",
					"in": "query",
					"required": true,
					"description": "Unique identifier of the workspace",
					"schema": { "type": "string", "example": "6960a5eb2c65e7fda50603e5" }
				}
				],
				"responses": {
				"200": {
					"description": "Campaign Excel file downloaded successfully",
					"headers": {
					"Content-Type": {
						"schema": { "type": "string", "example": "application/vnd.openxmlformats-officedocument.spreadsheetml.sheet" }
					},
					"Content-Disposition": {
						"schema": { "type": "string", "example": "attachment; filename=\"campaign-report.xlsx\"" }
					}
					},
					"content": {
					"application/vnd.openxmlformats-officedocument.spreadsheetml.sheet": {
						"schema": { "type": "string", "format": "binary" }
					}
					}
				},
				"400": {
					"description": "Bad Request",
					"content": {
					"application/json": {
						"schema": {
						"type": "object",
						"properties": {
							"status": { "type": "integer", "example": 400 },
							"message": {
							"type": "string",
							"examples": {
								"validation": { "value": "Validation Error" },
								"upstream": { "value": "Error downloading campaign Excel file" }
							}
							},
							"errors": {
							"type": "array",
							"description": "Present when validation fails",
							"items": {
								"type": "object",
								"properties": {
								"field": { "type": "string", "example": "query.workspace_id" },
								"message": { "type": "string", "example": "\"workspace_id\" is required" }
								}
							}
							},
							"error": {
							"type": "object",
							"description": "Present when upstream returns an error body",
							"properties": {
								"details": { "type": "string", "example": "Upstream error body" }
							}
							}
						}
						}
					}
					}
				},
				"401": {
					"description": "Unauthorized",
					"content": {
					"application/json": {
						"schema": {
						"type": "object",
						"properties": {
							"status": { "type": "integer", "example": 401 },
							"message": { "type": "string", "example": "Authentication token is missing or invalid" }
						}
						}
					}
					}
				},
				"404": {
					"description": "Not Found",
					"content": {
					"application/json": {
						"schema": {
						"type": "object",
						"properties": {
							"status": { "type": "integer", "example": 404 },
							"message": { "type": "string", "example": "Campaign not found or file not available" },
							"error": {
							"type": "object",
							"properties": {
								"details": { "type": "string", "example": "Upstream error body" }
							}
							}
						}
						}
					}
					}
				},
				"500": {
					"description": "Internal Server Error",
					"content": {
					"application/json": {
						"schema": {
						"type": "object",
						"properties": {
							"status": { "type": "integer", "example": 500 },
							"message": {
							"type": "string",
							"examples": {
								"download": { "value": "Error downloading campaign Excel file" },
								"internal": { "value": "Internal server error while generating campaign file" },
								"communication": { "value": "Error communicating with assistant service" }
							}
							},
							"error": {
							"type": "object",
							"properties": {
								"details": { "type": "string", "example": "Error message details" }
							}
							}
						}
						}
					}
					}
				}
				},
				"security": [{ "apiKey": [] }, { "bearerAuth": [] }],
				"x-mint": { "mcp": { "enabled": true } }
			}
		},
		"/api/agents/{agent_id}/conversations/{conversation_id}": {
			"get": {
				"summary": "Get Agent Conversation",
				"tags": ["Agents"],
				"description": "Retrieves detailed statistics and metadata for a specific conversation of a given agent",
				"parameters": [
				{
					"name": "agent_id",
					"in": "path",
					"required": true,
					"schema": { "type": "string", "example": "68dce5202fc07b92042493b1" },
					"description": "Unique identifier of the agent."
				},
				{
					"name": "conversation_id",
					"in": "path",
					"required": true,
					"schema": { "type": "string", "example": "6900b87ca70928b1224f0619" },
					"description": "Unique identifier of the conversation."
				}
				],
				"responses": {
				"200": {
					"description": "Conversation retrieved successfully",
					"content": {
					"application/json": {
						"schema": {
						"type": "object",
						"properties": {
							"status": { "type": "integer", "example": 200 },
							"message": { "type": "string", "example": "Conversation retrieved successfully" },
							"data": {
							"type": "object",
							"description": "Conversation info record returned by assistant-service (fields may include additional keys).",
							"properties": {
								"id": { "type": "string", "example": "6900be1d39f3fd5dd4e503d4" },
								"assistant_id": { "type": "string", "example": "68dce5202fc07b92042493b1" },
								"conversation_id": { "type": "string", "example": "6900b87ca70928b1224f0619" },
								"disconnect_reason": { "type": "string", "example": "user_disconnect" },
								"status": { "type": "string", "example": "connected" },
								"to_number": { "type": ["string", "null"], "example": null },
								"userId": { "type": ["string", "null"], "example": "685d4b93fb5b2e221dc80ea8" },
								"workspaceId": { "type": ["string", "null"], "example": "6960a5eb2c65e7fda50603e5" },
								"campaign_id": { "type": ["string", "null"], "example": null },

								"connected_at": { "type": ["string", "null"], "format": "date-time", "example": "2025-10-28T12:35:17.423000Z" },
								"ended_at": { "type": ["string", "null"], "format": "date-time", "example": "2025-10-28T12:59:09.821000Z" },
								"duration": { "type": ["string", "null"], "example": "00:23:52" },
								"duration_sec": { "type": ["integer", "null"], "example": 1432 },
								"disconnected_by": { "type": ["string", "null"], "example": "user" },

								"metadata": {
								"type": ["object", "null"],
								"description": "Collected call metadata (dynamic keys).",
								"additionalProperties": true,
								"example": {
									"summary": "…",
									"process_compliance": "yes",
									"outcome": "positive"
								}
								}
							}
							}
						}
						}
					}
					}
				},
				"400": {
					"description": "Bad Request",
					"content": {
					"application/json": {
						"schema": {
						"type": "object",
						"properties": {
							"status": { "type": "integer", "example": 400 },
							"message": {
							"type": "string",
							"examples": {
								"assistantNotFound": { "value": "Assistant 68dce5202fc07b92042493b1 not found." },
								"conversationNotFound": { "value": "Conversation 6900b87ca70928b1224f0619 not found." }
							}
							}
						}
						}
					}
					}
				},
				"401": {
					"description": "Unauthorized",
					"content": {
					"application/json": {
						"schema": {
						"type": "object",
						"properties": {
							"status": { "type": "integer", "example": 401 },
							"message": { "type": "string", "example": "Authentication token is missing or invalid" }
						}
						}
					}
					}
				},
				"500": {
					"description": "Internal Server Error",
					"content": {
					"application/json": {
						"schema": {
						"type": "object",
						"properties": {
							"status": { "type": "integer", "example": 500 },
							"message": { "type": "string", "example": "Error while getting conversation info" },
							"error": {
							"type": "object",
							"properties": {
								"details": { "type": "string", "example": "Error message details" }
							}
							}
						}
						}
					}
					}
				}
				},
				"security": [{ "apiKey": [] }, { "bearerAuth": [] }],
				"x-mint": { "mcp": { "enabled": true } }
			}
		},
		"/api/agents/{agent_id}/conversations": {
			"get": {
				"operationId": "getAssistantConversations",
				"summary": "List Agent Conversations",
				"tags": ["Agents"],
				"description": "Retrieves a paginated list of all conversations for a specific agent",
				"parameters": [
				{
					"name": "agent_id",
					"in": "path",
					"required": true,
					"schema": { "type": "string", "example": "68dce5202fc07b92042493b1" },
					"description": "Unique identifier of the agent."
				},
				{
					"name": "page",
					"in": "query",
					"required": false,
					"schema": { "type": "integer", "minimum": 1, "default": 1, "example": 1 },
					"description": "Page number for pagination."
				},
				{
					"name": "limit",
					"in": "query",
					"required": false,
					"schema": { "type": "integer", "minimum": 1, "maximum": 100, "default": 10, "example": 10 },
					"description": "Number of conversations per page."
				}
				],
				"responses": {
				"200": {
					"description": "Assistant conversations retrieved successfully",
					"content": {
					"application/json": {
						"schema": {
						"type": "object",
						"properties": {
							"status": { "type": "integer", "example": 200 },
							"message": { "type": "string", "example": "Assistant conversations retrieved successfully" },
							"data": {
							"type": "object",
							"properties": {
								"conversations": {
								"type": "array",
								"items": {
									"type": "object",
									"properties": {
									"id": { "type": "string", "example": "6900be1d39f3fd5dd4e503d4" },
									"conversation_id": { "type": "string", "example": "6900b87ca70928b1224f0619" },
									"assistant_id": { "type": "string", "example": "68dce5202fc07b92042493b1" },
									"to_number": { "type": ["string", "null"], "example": "+15550123" },
									"from_number": { "type": ["string", "null"], "example": "+15550999" },
									"created_at": { "type": ["string", "null"], "format": "date-time", "example": "2025-10-28T12:35:17.423000Z" },
									"status": { "type": ["string", "null"], "example": "disconnected" }
									}
								}
								},
								"assistant_name": { "type": ["string", "null"], "example": "My Agent" },
								"total_count": { "type": "integer", "example": 42 },
								"page": { "type": "integer", "example": 1 },
								"limit": { "type": "integer", "example": 10 }
							}
							},
							"pagination": {
							"type": "object",
							"description": "Gateway pagination wrapper (may be inaccurate unless upstream provides pagination fields).",
							"properties": {
								"page": { "type": "integer", "example": 1 },
								"limit": { "type": "integer", "example": 10 },
								"total": { "type": "integer", "example": 42 },
								"totalPages": { "type": "integer", "example": 5 },
								"hasNextPage": { "type": "boolean", "example": true },
								"hasPrevPage": { "type": "boolean", "example": false }
							}
							}
						}
						}
					}
					}
				},
				"400": {
					"description": "Bad Request",
					"content": {
					"application/json": {
						"schema": {
						"type": "object",
						"properties": {
							"status": { "type": "integer", "example": 400 },
							"message": {
							"type": "string",
							"examples": {
								"assistantNotFound": { "value": "Assistant 68dce5202fc07b92042493b1 not found." },
								"other": { "value": "Error getting conversations: <details>" }
							}
							}
						}
						}
					}
					}
				},
				"401": {
					"description": "Unauthorized",
					"content": {
					"application/json": {
						"schema": {
						"type": "object",
						"properties": {
							"status": { "type": "integer", "example": 401 },
							"message": { "type": "string", "example": "Authentication token is missing or invalid" }
						}
						}
					}
					}
				},
				"500": {
					"description": "Internal Server Error",
					"content": {
					"application/json": {
						"schema": {
						"type": "object",
						"properties": {
							"status": { "type": "integer", "example": 500 },
							"message": { "type": "string", "example": "Error while getting assistant conversations" },
							"error": {
							"type": "object",
							"properties": {
								"details": { "type": "string", "example": "Error message details" }
							}
							}
						}
						}
					}
					}
				}
				},
				"security": [{ "apiKey": [] }, { "bearerAuth": [] }],
				"x-mint": { "mcp": { "enabled": true } }
			}
		},
		"/api/agents/{agent_id}/reports": {
			"get": {
				"operationId": "getAgentReports",
				"tags": ["Agents"],
				"summary": "Get Agent Reports",
				"description": "Retrieves conversation reports for a specific agent (assistant) with pagination.",
				"parameters": [
				{
					"name": "agent_id",
					"in": "path",
					"description": "Unique identifier of the agent",
					"required": true,
					"schema": { "type": "string", "example": "68dce5202fc07b92042493b1" }
				},
				{
					"name": "page",
					"in": "query",
					"required": false,
					"description": "Page number (1-based).",
					"schema": { "type": "integer", "minimum": 1, "default": 1, "example": 1 }
				},
				{
					"name": "limit",
					"in": "query",
					"required": false,
					"description": "Number of records per page.",
					"schema": { "type": "integer", "minimum": 1, "default": 10, "example": 10 }
				}
				],
				"responses": {
				"200": {
					"description": "Conversation reports retrieved successfully",
					"content": {
					"application/json": {
						"schema": {
						"type": "object",
						"properties": {
							"status": { "type": "integer", "example": 200 },
							"message": { "type": "string", "example": "Conversation reports retrieved successfully" },
							"data": {
							"type": "object",
							"properties": {
								"total_count": { "type": "integer", "example": 42 },
								"page": { "type": "integer", "example": 1 },
								"limit": { "type": "integer", "example": 10 },
								"reports": {
								"type": "array",
								"items": {
									"type": "object",
									"description": "Conversation information record (fields may include additional keys).",
									"properties": {
									"id": { "type": "string", "example": "6900be1d39f3fd5dd4e503d4" },
									"assistant_id": { "type": "string", "example": "68dce5202fc07b92042493b1" },
									"conversation_id": { "type": "string", "example": "6900b87ca70928b1224f0619" },
									"status": { "type": ["string", "null"], "example": "connected" },
									"disconnect_reason": { "type": ["string", "null"], "example": "user_disconnect" },
									"connected_at": { "type": ["string", "null"], "format": "date-time", "example": "2025-10-28T12:35:17.423000Z" },
									"ended_at": { "type": ["string", "null"], "format": "date-time", "example": "2025-10-28T12:59:09.821000Z" },
									"duration": { "type": ["string", "null"], "example": "00:23:52" },
									"duration_sec": { "type": ["integer", "null"], "example": 1432 },
									"disconnected_by": { "type": ["string", "null"], "example": "user" },
									"campaign_id": { "type": ["string", "null"], "example": null },
									"workspaceId": { "type": ["string", "null"], "example": "6960a5eb2c65e7fda50603e5" },
									"userId": { "type": ["string", "null"], "example": "685d4b93fb5b2e221dc80ea8" },
									"metadata": { "type": ["object", "null"], "additionalProperties": true }
									}
								}
								}
							}
							}
						}
						}
					}
					}
				},
				"400": {
					"description": "Bad Request",
					"content": {
					"application/json": {
						"schema": {
						"type": "object",
						"properties": {
							"status": { "type": "integer", "example": 400 },
							"message": {
							"type": "string",
							"examples": {
								"noReports": { "value": "No reports found for the given assistant ID" },
								"assistantNotFound": { "value": "Assistant <id> not found." }
							}
							},
							"data": { "type": ["object", "null"], "example": null }
						}
						}
					}
					}
				},
				"401": {
					"description": "Unauthorized",
					"content": {
					"application/json": {
						"schema": {
						"type": "object",
						"properties": {
							"status": { "type": "integer", "example": 401 },
							"message": { "type": "string", "example": "Authentication token is missing or invalid" }
						}
						}
					}
					}
				},
				"500": {
					"description": "Internal Server Error",
					"content": {
					"application/json": {
						"schema": {
						"type": "object",
						"properties": {
							"status": { "type": "integer", "example": 500 },
[...]
